body
{
   background-image: url("Bg.avif");
   background-position: center;
   height: 500px;
   zoom:60%;
}
.heading
{
  margin-left: 920px;
  font-family:'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 40px;
}
.container
{
   display: flex;
   flex-wrap: wrap;
   max-width: 960px;
   margin: auto;    
}
.comp
{
    display: flex;
}

.squares{
    margin-left: 300px;
    width: 150px;
    height: 100px;
    font-size: 25px;
    font-weight: 900;
    border-radius:25px;
    opacity: 0.9;
    padding: 10px;
}
.popup
{
    width: 400px;
    height: 200px;
    background-color: aliceblue;
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right : 10px;
    font-size: 25px;
    font-weight: 900;
    border-radius: 25px;
}
input
{
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
}
