body
{
   background-image: url("Bg.avif");
   background-position: center;
   height: 500px;
   zoom:60%;
}
.heading
{
  margin-left: 920px;
  font-family:'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 40px;
}
.container
{
   display: flex;
   flex-wrap: wrap;
   max-width: 960px;
   margin: auto;
      
}
