body
{
   background-image: url("Bg.avif");
   background-position: center;
   height: 500px;
}
.heading
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 900;
}
